<% include partials/header %>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <% calcs.forEach(function(calc){ %>
                        <div class="form-group">
                            <label><input class="form-control" type="text" name="instrument" value="<%= calc.instrument %>" readonly></label>
                            <label>Last Price<input class="form-control" type="number" name="lastprice" value="<%= calc.previousPrice %>" readonly></label>
                            <label>Last Trade / Avg Profit<input class="form-control" type="text" name="lasttradedprice" 
                                value="<%= calc.lastTradedPrice.toFixed(2) %> / <%= calc.lastAction %> / <%= calc.runningProfit.toFixed(1) %>%" readonly>
                            </label>
                            <p>
                                <a href="/calcs/<%= calc._id %>/edit" class="btn btn-primary">Details</a>
                            </p>
                        </div>
                    <% }) %>
                    <div class="well well-sm">
                        <canvas id="myChart"></canvas>
                        <!-- Start Js -->
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
                        <script>
                            let ctx = document.querySelector('#myChart').getContext('2d');

                            let rawDateLabels = [<%= labels %>];
                            let formatDateLabels = [];
                            rawDateLabels.forEach(function(dl){
                                let dateStr = new Date(dl).toLocaleDateString('en-GB');
                                formatDateLabels.push(dateStr);
                            });

                            let myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: formatDateLabels,
                                    datasets: [{
                                        label: 'Total AUD',
                                        data: [<%= TOTdata %>],
                                        backgroundColor: 'rgba(255, 0, 0, 0.2)',
                                        borderColor: 'rgba(255, 0, 0, 1)',
                                        fill: false
                                    },
                                    {
                                        label: 'AUD in balance',
                                        data: [<%= AUDdata %>],
                                        backgroundColor: 'rgba(255, 128, 0, 0.2)',
                                        borderColor: 'rgba(255, 128, 0, 1)',
                                        fill: false
                                    },
                                    {
                                        label: 'BTC',
                                        data: [<%= BTCdata %>],
                                        backgroundColor: 'rgba(0, 255, 0, 0.2)',
                                        borderColor: 'rgba(0, 255, 0, 1)',
                                        fill: false
                                    },
                                    {
                                        label: 'ETH',
                                        data: [<%= ETHdata %>],
                                        backgroundColor: 'rgba(0, 0, 255, 0.2)',
                                        borderColor: 'rgba(0, 0, 255, 1)',
                                        fill: false
                                    },
                                    {
                                        label: 'XRP',
                                        data: [<%= XRPdata %>],
                                        backgroundColor: 'rgba(128, 0, 0, 0.2)',
                                        borderColor: 'rgba(128, 0, 0, 1)',
                                        fill: false
                                    },
                                    {
                                        label: 'LTC',
                                        data: [<%= LTCdata %>],
                                        backgroundColor: 'rgba(0, 128, 0, 0.2)',
                                        borderColor: 'rgba(0, 128, 0, 1)',
                                        fill: false
                                    },
                                    {
                                        label: 'BCH',
                                        data: [<%= BCHdata %>],
                                        backgroundColor: 'rgba(0, 0, 128, 0.2)',
                                        borderColor: 'rgba(0, 0, 128, 1)',
                                        fill: false
                                    },
                                    {
                                        label: 'ETC',
                                        data: [<%= ETCdata %>],
                                        backgroundColor: 'rgba(64, 0, 0, 0.2)',
                                        borderColor: 'rgba(64, 0, 0, 1)',
                                        fill: false
                                    }],
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero:true
                                            }
                                        }]
                                    },
                                    title: {
                                        display: true,
                                        text: 'EQUITY values',
                                        fontSize: 18
                                    }
                                }
                            }); // end chart obj
                        </script>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <p>Sanity Software 2018</p>
        </div>

<% include partials/footer %>

