<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h3 style="text-align:center"><%= calc.instrument %></h3>
        <h4 style="text-align:center">currently $<%= calc.previousPrice %>, average change rate: <%= calc.percentGain.toFixed(1) %>%</h4>
        <p style="text-align:center">recent low $<%= calc.shortTermMin %>, recent high $<%= calc.shortTermMax %></p>
            <div class="well well-sm">
                <canvas id="myChart"></canvas>
                <!-- Start Js -->
                <script src="/chartjs/Chart.min.js"></script>
                <script src="/hammerjs/hammer.min.js"></script>
                <script src="/chartjszoom/chartjs-plugin-zoom.min.js"></script>
                <script>
                    let ctx = document.querySelector('#myChart').getContext('2d');

                    let rawDateLabels = [<%= labels %>];
                    let formatDateLabels = [];
                    rawDateLabels.forEach(function(dl){
                        let dateStr = new Date(dl).toLocaleDateString('en-GB');
                        formatDateLabels.push(dateStr);
                    });

                    let myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: formatDateLabels,
                            datasets: [{
                                label: '<%= calc.instrument %>',
                                data: [<%= prices %>],
                                backgroundColor: 'rgba(255, 0, 0, 0.2)',
                                borderColor: 'rgba(255, 0, 0, 1)',
                                fill: false
                            }],
                        },
                        options: {
                            responsive: true,
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero:false
                                    }
                                }]
                            },
                            title: {
                                display: true,
                                text: '<%= calc.instrument %> recent prices',
                                fontSize: 18
                            },
                            pan: {
				            	enabled: true,
					            mode: 'xy',
				            },
                            zoom: {
				            	enabled: true,
                                // sensitivity:1,
                                drag:true,
					            mode: 'xy',
				            }
                        }
                    }); // end chart obj
                </script>
            </div>
            <div style="width:30%; margin:25px auto;">
                <form action="/calcs/<%= calc._id %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label>Last Action
                            <input class="form-control" type="text" name="calc[lastAction]" value="<%= calc.lastAction %>">
                        </label>
                        <label>Last Traded Price
                            <input class="form-control" type="number" name="calc[lastTradedPrice]" value="<%= calc.lastTradedPrice %>">
                        </label>
                        <label>Target Margin
                            <input class="form-control" type="number" name="calc[targetMargin]" value="<%= calc.targetMargin %>">
                        </label>
                        <label>Running Profit
                            <input class="form-control" type="number" name="calc[runningProfit]" value="<%= calc.runningProfit %>">
                        </label>
                        <label for="RecAction">Recommended Action</label>
                        <select class="form-control" name="calc[recommendedAction]" value="<%= calc.recommendedAction %>">
                            <option value="" <%= (calc.recommendedAction === "") ? selected : "" %> >No Action</option>
                            <option value="averagedown" <%= (calc.recommendedAction === "averagedown") ? selected : "" %> >Buy to Average Down</option>
                            <option value="sellnow" <%= (calc.recommendedAction === "sellnow") ? selected : "" %> >Sell NOW!</option>
                        </select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="calc[tradingEnabled]" value="false">
                            <input type="checkbox" name="calc[tradingEnabled]" <%= calc.tradingEnabled ? "checked value=\"true\"" : "" %>>Trading Enabled
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="calc[stoplossEnabled]" value="false">
                            <input type="checkbox" name="calc[stoplossEnabled]" <%= calc.stoplossEnabled ? "checked" : "" %>>Auto Stop Loss Enabled
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="calc[averagedownEnabled]" value="false">
                            <input type="checkbox" name="calc[averagedownEnabled]" <%= calc.averagedownEnabled ? "checked" : "" %>>Dollar Cost Averaging (DCA) Enabled
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="hidden" name="calc[pumpAndDumpMarket]" value="false">
                            <input type="checkbox" name="calc[pumpAndDumpMarket]" <%= calc.pumpAndDumpMarket ? "checked" : "" %>>Pump'n Dump market?
                        </label>
                    </div>


                    <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Update the Robot!</button>
                    </div>
                </form>
                <a href="/portfolio">Go Back</a>
            </div>
    
    </div>
</div>



<% include ../partials/footer %>