<% include partials/header %>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <% calcs.forEach(function(calc){ %>
                        <div class="form-group">
                            <label><input class="form-control" type="text" name="instrument" value="<%= calc.instrument %>" readonly></label>
                            <label>Last Price<input class="form-control" type="number" name="lastprice" value="<%= calc.previousPrice %>" readonly></label>
                            <label>Last Trade / Avg Profit<input class="form-control" type="text" name="lasttradedprice" 
                                value="<%= calc.lastTradedPrice %> / <%= calc.lastAction %> / <%= calc.runningProfit.toFixed(1) %>%" readonly>
                            </label>
                            <p>
                                <a href="/calcs/<%= calc._id %>/edit" class="btn btn-primary">Configure Robot</a>
                            </p>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>


        <div class="container">
            <p>Sanity Software 2018 -- updated <%= updated %></p>
        </div>

<% include partials/footer %>

